<div class="jumbotron">
    <h1>Welcome to Russ.For.Wbc</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Only best practices</h2>
        <p>I examined documentation, tutorials, stackoverflow and other resourcess to be on edge with architecture of Phalcon apps. </p>
    </div>
    <div class="col-md-4">
        <h2>Providers, Plugins, Contracts</h2>
        <p>Best structure to start Phalcon app: Service Providers, Middleware (plugins) and base components reusage.</p>
    </div>
    <div class="col-md-4">
        <h2>S.O.L.I.D</h2>
        <p>Yes, It's SOLID, it's YAGNI, It's DRY.</p>
    </div>
</div>
